extends ../layout

block content
    h1 Lista de autores

    if error 
        p.error= error
    if data
        ul
            each author in data 
                li(style="display: flex; align-items: center;") 
                    a(href="/author/"+author.author_id, style="font-size: 1.6rem")= `${author.author_id} - ${author.name} (${author.born})`
                    form(action=`/author/${author.author_id}/update`, method="post") 
                        button(type="submit") Editar
                    form(action=`/author/${author.author_id}/remove`, method="post") 
                        button(type="submit") Borrar

    a(href="/author/new")
        button Crear nuevo autor
