extends ../layout

block content
    h1 Lista de poemas
    if error 
        p(class="error")= error
    if data
        ul
            each poem in data 
                    div(id="listado")
                        a(href="/poem/"+poem.poem)= `${poem.title} (${poem.author})`
                        a(href=`/poem/${poem.poem}/update`, method="post") 
                            button Editar

                        form(action=`/poem/${poem.poem}/remove`, method="post") 
                            button(type="submit") Borrar


    a(href="/poem/new")
        button Crear nuevo poema