extends ../layout

block content 
    if error 
        p(class="error")= error
    if poem
        form(action="/poem/"+poem.poem_id, method="post") 

            label(for="title") Titulo 
            input(id="title" type="text" name="title" value=poem.title) 

            <br><br>

            label(for="author") Autor: 
            input#author(type="text", name="author" value=poem.author)  

            <br><br>

            label(for="year_release") Año de creacion: 
            input#year_release(type="text", name="year_release" value=poem.year_release)  

            <br><br>

            label(for="author_id") ID del autor: 
            input#author_id(type="text", name="author_id" value=poem.author_id)  

            <br><br>
            
            button(type="submit") Guardar
